@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--light: 0 0% 100%;
		--dark: 222.2 84% 4.9%;

		--background: 0 0% 100%;
		--foreground: 240 10% 3.9%;
		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;
		--primary: 240 5.9% 10%;
		--primary-foreground: 0 0% 98%;
		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;
		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;
		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;
		--ring: 240 5.9% 10%;
		--radius: 0.5rem;
	}

	.dark {
		--background: 240 10% 3.9%;
		--foreground: 0 0% 98%;
		/* --card: 240 10% 3.9%; */
		--card: var(--background);
		--card-foreground: 0 0% 98%;
		--popover: 240 10% 3.9%;
		--popover-foreground: 0 0% 98%;
		--primary: 0 0% 98%;
		--primary-foreground: 240 5.9% 10%;
		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;
		--muted: 240 3.7% 15.9%;
		--muted-foreground: 240 5% 64.9%;
		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 62.8% 60.6%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;
		--ring: 240 4.9% 83.9%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

.react-flow__attribution {
	display: none;
}

/* match this with the erd markers */
.react-flow .react-flow__edge-path {
	/* @apply stroke-ring dark:stroke-foreground; */
	@apply stroke-gray-400 dark:stroke-gray-400;
}

.react-flow .react-flow__edge-path.relation-disabled {
	@apply opacity-25;
}

.theme-gray {
	--primary: 222.2 47.4% 11.2%;
	--input: 214.3 31.8% 91.4%;
	--ring: 222.2 84% 4.9%;

	.dark {
		--background: 240 10% 3.9%;
		--foreground: 0 0% 98%;
		/* --card: 240 10% 3.9%; */
		--card: var(--background);
		--card-foreground: 0 0% 98%;
		--popover: 240 10% 3.9%;
		--popover-foreground: 0 0% 98%;
		--primary: 0 0% 98%;
		--primary-foreground: 240 5.9% 10%;
		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;
		--muted: 240 3.7% 15.9%;
		--muted-foreground: 240 5% 64.9%;
		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 62.8% 60.6%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;
		--ring: 240 4.9% 83.9%;
	}
}

.theme-blue {
	--primary: 194 80% 44%;
	--input: 214.3 31.8% 93.4%;
	--ring: 221.2 83.2% 53.3%;

	&.dark {
		--background: 221 30% 8%;
		--primary: 194 80% 44%;
		--muted: 215 29% 18%;
		--muted-foreground: 191 28% 63%;
		--accent: var(--muted);
		--border: var(--muted);
		--input: var(--muted);
		--ring: var(--primary);
	}
}

.theme-orange {
	/* --primary: 24.6 95% 53.1%;
	--input: 20 5.9% 90%;
	--ring: 24.6 95% 53.1%;

	&.dark {
		--primary: 20.5 90.2% 48.2%;
		--primary-foreground: 60 9.1% 97.8%;
		--input: 12 6.5% 15.1%;
		--ring: 20.5 90.2% 48.2%;
	} */
	--primary: 194 80% 44%;
	--input: 214.3 31.8% 93.4%;
	--ring: 221.2 83.2% 53.3%;

	&.dark {
		--background: 24.6 30% 12%;
		--primary: 24.6 80% 44%;
		--muted: 24.6 29% 23%;
		--muted-foreground: 191 28% 63%;
		--accent: var(--muted);
		--border: var(--muted);
		--input: var(--muted);
		--ring: var(--primary);
	}
}

.theme-rose {
	--primary: 194 80% 44%;
	--input: 214.3 31.8% 93.4%;
	--ring: 221.2 83.2% 53.3%;

	&.dark {
		--background: 346.8 30% 12%;
		--primary: 346.8 80% 44%;
		--muted: 346.8 29% 23%;
		--muted-foreground: 191 28% 63%;
		--accent: var(--muted);
		--border: var(--muted);
		--input: var(--muted);
		--ring: var(--primary);
	}
	/* --primary: 346.8 77.2% 49.8%;
	--input: 240 5.9% 90%;
	--ring: 346.8 77.2% 49.8%;

	&.dark {
		--primary: 346.8 77.2% 49.8%;
		--primary-foreground: 355.7 100% 97.3%;
		--input: 240 3.7% 15.9%;
		--ring: 346.8 77.2% 49.8%;
	} */
}

.theme-green {
	--primary: 142.1 76.2% 36.3%;
	--input: 240 5.9% 90%;
	--ring: 142.1 76.2% 36.3%;

	&.dark {
		--primary: 142.1 70.6% 45.3%;
		--primary-foreground: 144.9 80.4% 10%;
		--input: 240 3.7% 15.9%;
		--ring: 142.4 71.8% 29.2%;
	}
}
