@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--light: 0 0% 100%;
		--dark: 222.2 84% 4.9%;

		--background: 0 0% 100%;
		--foreground: 240 10% 3.9%;
		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;
		--primary: 224 27% 14%;
		--primary-foreground: 0 0% 98%;
		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;
		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;
		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;
		--ring: 240 5.9% 10%;
		--radius: 0.5rem;
	}

	.dark {
		--background: 240 10% 6%;
		--foreground: 0 0% 98%;
		/* --card: 240 10% 3.9%; */
		--card: var(--background);
		--card-foreground: 0 0% 98%;
		--popover: 255 7% 12%;
		--popover-foreground: 0 0% 98%;
		--primary: 210 80% 44%;
		--primary-foreground: 0 100% 100%;
		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;
		--muted: 255 7% 12%;
		--muted-foreground: 240 5% 64.9%;
		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 62.8% 60.6%;
		--destructive-foreground: 0 0% 98%;
		--border: 260 3% 19%;
		--input: 240 3.7% 15.9%;
		--ring: 240 4.9% 83.9%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

.react-flow__attribution {
	display: none;
}

/* match this with the erd markers */
.react-flow .react-flow__edge-path {
	/* @apply stroke-ring dark:stroke-foreground; */
	@apply stroke-gray-300 dark:stroke-gray-600;
}

.react-flow .react-flow__edge-path.relation-disabled {
	@apply opacity-25;
}

.stripes {
	background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='rgba(0%2C0%2C0%2C0.05)' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
}

.dark .stripes {
	background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='rgba(0%2C0%2C0%2C0.2)' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
}
